body{
    background-color:#cce6ff ;
    text-align:center;
}

.bookmarks{
    height: 50px;
    width:100%;
    padding-top:15px;
}
.bookmarks i{
    font-size:50px;
    padding:10px;
}
.weather{
width: 100%;
margin: 1px;
}

h1{
    font-size:50px;
    margin:10 auto;
    text-align: center;
}

div{
text-align:right;
}
.box{
    height:500px;
    width:750px;
    background-color:aquamarine;
    text-align:center;
    margin:0 auto;
}
li{
    text-align:left;
}
h2{
    font-size:30px;
}
input{
    background-color:white;
}
